main > .container{
    padding: 30px 0;
}

.navbar-title{
    text-decoration: none;
    color: white;
}

.form-login {
    max-width: 350px;
}

.app-footer{
    background-color: #67d6d6;
    height: 100px;
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 560px;
}

p, strong{
    color: white;
    font-size: 19px;
}

.text-decoration-none{
    color: white;
}

a:hover{
    color: red;
}

.card-text{
    color: black;
}

.text-order{
    color: black;
}

.product-order{
   display: flex;
   border-bottom: solid 3px black;
   padding: 22px;
}

b{
    padding-left: 70vh;
}


.search{
    padding: 4px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    
}

.btn-search{
    background-color: crimson;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    color: #ffff;
    cursor: pointer;
   
}